.escena {
    height: 1248px;
    width: 842px;
    margin: auto;
    background-image: url("../img/Entrada-castillo.jpg");
    background-size: cover;
    position: relative;
    z-index: 1;
}

.mensaje {
    font-family: "ComicKids-WyvKG";
    background-color: rgb(233, 215, 176);

    width: 480px;
    margin: auto;

    padding: 10px;
    margin-left: 1000px;
    margin-top: -250px;
    position: relative;
    z-index: 10;
}

.mensaje p {
    margin-left: auto;
    margin-top: auto;
}