body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 242, 242);

}

#juego-cuadrado {
    width: 800px;
    border: 2px solid blue;

}

#pantalla-juego {
    height: 900px;
    position: relative;
    border: 2px solid red;
    overflow: hidden;
}

.pantalla {
    width: 100%;
    height: 100%;
}

.fondo {
    width: 500px;
    display: block;
    object-fit: cover;
}

#volver {
    position: absolute;
    top: 440px;
    left: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

#boton-jugar {
    position: absolute;
    bottom: 300px;
    left: 44%;
    /* Tamaño boton */
    width: 60px;
    height: 140px;
    /* invisible para que se no se vea*/
    background: red;
    border: none;
    cursor: pointer;
    color: transparent;
    z-index: 10;
}

#boton-jugar:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.oculto {
    display: none !important;
}

#puertaA {
    position: absolute;
    top: 17%;
    left: 25%;
    width: 80px;
    height: 200px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: blue;
}

#puertaB {
    position: absolute;
    top: 17%;
    left: 59%;
    width: 80px;
    height: 200px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: rgb(255, 0, 0);
}

#puerta1 {
    position: absolute;
    top: 20%;
    left: 42%;
    width: 81px;
    height: 108px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: rgb(255, 0, 0);
}

#puerta2 {
    position: absolute;
    top: 20%;
    left: 42%;
    width: 81px;
    height: 160px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: rgb(255, 0, 0);
}

#boton-cuadro {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 70px;
    height: 100px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: rgb(255, 0, 191);
}

#boton-nota {
    position: absolute;
    top: 27%;
    left: 42%;
    width: 100px;
    height: 100px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: rgb(255, 0, 191);
}

#boton-voltear-cuadro {
    position: absolute;
    top: 23%;
    left: 21%;
    width: 300px;
    height: 300px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: rgb(255, 0, 191);
}

#cofre {
    position: absolute;
    top: 32%;
    left: 37%;
    width: 138px;
    height: 75px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: rgb(255, 0, 0);
}

#cara-estatua,
#llave {
    position: absolute;
    top: 170px;
    left: 32%;
    width: 20px;
    height: 20px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: rgb(255, 0, 0);
    border: none;
    outline: none;
    padding: 0;
}

#cara-estatua:active,
#llave:active {
    transform: scale(1);
}


#mensajeNota {
    font-size: 24px;
    text-align: center;
    margin-top: 200px;
    color: #000000;
    z-index: 22;
}

