body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/bosque_oscuro.jpg");

}

#contenedor-maestro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px; 
 
}

#pantalla-juego {
    width: 500px;
    height: 750px;
    position: relative;
    overflow: hidden;
}

#pantalla-juego-cuadrada {
    top: -500px;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;

}

.pantalla {
    width: 100%;
    height: 100%;
}

.fondo {
    width: 500px;
    display: block;
    object-fit: cover;
}

#volver {
    position: absolute;
    top: 400px;
    left: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
}

#boton-jugar {
    background: transparent;
    border: none;
    position: absolute;
    top: 60%;
    left: 44%;
    width: 60px;
    height: 140px;
    z-index: 10;
}

.oculto {
    display: none !important;
}

#puertaA {
   background: transparent;
    border: none;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 80px;
    height: 200px;
    z-index: 20;
}

#puertaB,
#puertaBReloj {
    background: transparent;
    border: none;
    position: absolute;
    top: 30%;
    left: 59%;
    width: 80px;
    height: 200px;
    z-index: 20;
    
}

#boton9 {
    background: transparent;
    border: none;
    position: absolute;
    top: 31%;
    left: 45%;
    width: 7px;
    height: 8px;
    z-index: 20;
}

#puerta1 {
    background: transparent;
    border: none;
    position: absolute;
    top: 35%;
    left: 42%;
    width: 81px;
    height: 108px;
    z-index: 20;
   
}

#puerta2 {
    background: transparent;
    border: none;
    position: absolute;
    top: 35%;
    left: 42%;
    width: 81px;
    height: 160px;
    z-index: 20;
    
}

#boton-cuadro {
    background: transparent;
    border: none;
    position: absolute;
    top: 28%;
    left: 5%;
    width: 70px;
    height: 100px;
    z-index: 20;
   
}

#boton-nota {
    background: transparent;
    border: none;
    position: absolute;
    top: 33%;
    left: 42%;
    width: 100px;
    height: 100px;
    z-index: 20;/
   
}

#boton-voltear-cuadro {
    background: transparent;
    border: none;
    position: absolute;
    top: 27%;
    left: 21%;
    width: 300px;
    height: 300px;
    z-index: 20;
  
}

#cofre {
    background: transparent;
    border: none;
    position: absolute;
    top: 58%;
    left: 37%;
    width: 138px;
    height: 75px;
    z-index: 20;
   
}

#manecillas {
    background: transparent;
    border: none;
    position: absolute;
    top: 52%;
    left: 37%;
    width: 138px;
    height: 75px;
    z-index: 20;
}

#cara-estatua,
#llave {
    background: transparent;
    border: none;
    position: absolute;
    top: 170px;
    left: 32%;
    width: 20px;
    height: 20px;
    z-index: 20;
    border: none;
    outline: none;
    padding: 0;
}

#textos {
    width: 500px;
    min-height: 50px;
    background-color: rgba(196, 196, 196, 0.8);
    position: absolute;
    top: 63%;
}

#mensaje {
    color: rgb(80, 10, 10);
    font-family: sans-serif;
    font-size: 1.1rem;
    margin: 0;
    z-index: 31;
    margin: 0; 
    padding: 10px;
    text-align: center;
}