body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 242, 242);

}

#juego-cuadrado{
    width: 800px;
    border: 2px solid blue;

}

#pantalla-juego {
    height: 900px;
    position: relative;
    border: 2px solid red;
    overflow: hidden;
}

.pantalla {
    width: 100%;
    height: 100%;
}

.fondo {
    width: 500px;
    display: block;
    object-fit: cover;
}

#boton-jugar {
    position: absolute;
    bottom: 500px;
    left: 50%;
    /* Tamaño boton */
    width: 180px;
    height: 60px;
    /* invisible para que se no se vea*/
    background: red;
    border: none;
    cursor: pointer;
    color: transparent;
    z-index: 10;
}

#boton-jugar:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.oculto {
    display: none !important;
}


#puertaA {
    position: absolute;
    top: 33%;
    left: 7%;
    width: 110px;
    height: 260px;
    z-index: 20;
    /* para ver donde está la puerta  
     'transparent' */
    background-color: blue;
}

#contenedor-puertas {
    border: 2px solid green;
  background-color: yellow;
}

#mensaje {
    font-size: 24px;
    text-align: center;
    margin-top: 200px;
    color: #333;
    z-index: 10;
}

